## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/
!packages/repositories.config
*.lock.json
!packages.lock.json

## Secrets & local config
appsettings.Development.json
*.pfx
*.p12

## Database files
*.db
*.db-shm
*.db-wal

## OS
.DS_Store
Thumbs.db
Desktop.ini

## Rider / JetBrains
.idea/
*.sln.iml

## VS Code
.vscode/

## Frontend
frontend/node_modules/
frontend/dist/
